.post-container{
    width:100%;
   
}

.container{
    width:70%;
    margin-left:15%;
}

.profile-pic{
    width:30px;
    border-radius: 15px;
    margin-top:5px;
}

.post{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    margin-top:20px;
    margin-bottom:20px;
    color:white;
    background-color: #D7DAD7 ;
    border-radius: 10px;
}

.profile-info{
    display: flex;
    height:20%;
}

.username{
    font-size:20px;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
}

a{
    color:white;
}

a:hover{
    color:blue;
}

.content{
    font-size: 24px;
    margin-top:30px;
    margin-left:20px;
    margin-bottom:30px;
}

.timestamp{
    font-size:18px;
    margin-top:10px;
    margin-left:80%;
    
}