<div class="container">
    <div class="post-container">
        <app-post></app-post>
    </div>
    <div *ngIf="posts.length>0 else noposts"
        infiniteScroll
        [infiniteScrollDistance]="2"
        (scrolled)="onScroll()"
        style="margin-bottom:50px;">
        <div *ngFor="let p of posts, index as i" class="post">
            <div class="profile-info">
                <div class="username">
                    <a [routerLink]="['/user',p.username]">{{p.username}}</a>
                    
                </div>
                <div>
                    <img [src]="p.profile_picture" alt="" class="profile-pic">
                </div>
            </div>
            <div class="content">
                {{p.content}}
            </div>
            <div class="timestamp">
                <a [routerLink]="['/post',p.id]" style="margin-bottom: 20px;">
                {{p.timestamp | date:"dd MMM yyyy, HH:mm"}}
                </a>
            </div>
            <div class="comments-container">
                <div class="number-of-comments">
                    {{p.number_of_comments}} comments
                </div>
                <div *ngFor="let c of p.comments" class="comment">
                    <div class="profile-info">
                        <div  class="username">
                            <a [routerLink]="['user',c.username]">{{c.username}}</a>
                            
                        </div>
                        <div>
                            <img [src]="c.profile_picture" alt="" class="profile-pic">
                        </div>
                    </div>
                    <div class="comment-content">
                        {{c.content}}
                    </div>
                    <div class="comment-timestamp">
                        {{c.timestamp | date:"dd MMM yyyy, HH:mm"}}
                    </div>
                </div>
            </div>
            <div class="commentpost">
                <app-comment [post_id]="p.id!" [post_author]="p.username" (commentOutput)="addComment($event, i)"></app-comment>
            </div>
        </div>
    </div>

    <ng-template #noposts>
        <div *ngIf="!feedError">
            <p>Loading...</p>
        </div>
        <div *ngIf="feedError">
            <p>Server error. Try again later.</p>
        </div>
    </ng-template>
</div>
