<div *ngIf="recipient" class="recipient">
    <div class="username">
        {{recipient}}
    </div>
    <div>
        <img [src]="recipientImage" alt="" class="profile-pic">
    </div>
</div>
<div class="messages" id="message-scroller"
(scroll)="scrollUp($event)"
    >
    <div *ngFor="let m of messages" [ngClass]="{'user':username==m.sender, 'friend':username!=m.sender}"
    class="message">
        <!-- <div style>
            <a [routerLink]="['/user',m.sender]">{{m.sender}}</a>

        </div> -->
        <div class="content">
            {{m.content}}
        </div>
        <div class="timestamp">
            {{m.timestamp | date : "dd MMM yyyy, HH:mm"}}
        </div>
    </div>
</div>

<div >
    <form [formGroup]="contentForm" class="message-sender">
        <textarea formControlName="content" name="" id="" cols="30" rows="10" [disabled]="pendingServer" 
        (keydown.enter)="sendMessage($event)" 
        ></textarea>
        <button mat-flat-button class="button" [disabled]="pendingServer || contentForm.invalid" (click)="sendMessageWithButton()">Send</button>
    </form>
</div>

<app-messagelive [chatId]="chatId" (messageSubject)="addLatestMessage($event)"></app-messagelive>
