<p>Instruments that you play:</p>
<div *ngIf="instruments.length>0">
    <div class="instrument-container">
        <div *ngFor="let i of instruments; index as index">
            <div class="instrument">
                <div class="name">
                    {{i |titlecase}}
                </div>
                <div class="close">
                    <mat-icon (click)="deleteInstrument(index)">close</mat-icon>
                </div>
            </div> 
        </div>
    </div>
</div>
<form [formGroup]="form">
    <input type="text" formControlName="instrument">
    <button type="submit" [disabled]="form.invalid" (click)="processForm()" mat-flat-button class="button">Add</button>
    <button (click)="submitInstruments()" mat-flat-button class="button" [disabled]="pendingServer">
        <div *ngIf="!pendingServer">
            Update
        </div>
        <div *ngIf="pendingServer">
            Updating...
        </div>
    </button>
</form>
<button (click)="deactivate()" mat-flat-button class="button">Cancel</button>
