<div class="container default"
[ngClass]="{'artist':artistSelection,'instrument':instrumentSelection, 'profilepic':profilePictureUpload,
            'artist-manual':manualArtistSelection}">
    <div>
        <div class="button-container">
            <button mat-flat-button class="button" matTooltip="Edit your profile info" matTooltipPosition="right"
            (click)="activateUserSetup()">Update User Info</button>
        </div>
        <div class="button-container">
            <button mat-flat-button class="button"
            (click)="loginToSpotify()" matTooltip="Link to your Spotify account" matTooltipPosition="right">
            <div style="display: flex;">
                <div class="setupspotify">
                    Link to Spotify
                </div>
                <div class="spotifylogo">
                    <img src="/assets/icons/Spotify-Logo-PNG.png" alt="" width="30px">
                </div>
            </div>
        </button>
        </div>
        <div class="button-container">
            <button mat-flat-button class="button"
            *ngIf="spotify_linked" (click)="getTopArtists()"
            matTooltip="Get your top artists according to Spotify (linking to account required)" 
            matTooltipPosition="right">Get top artists</button>
        </div>
        <div class="button-container">
            <button mat-flat-button class="button"
            *ngIf="spotify_linked" (click)="manuallySelectArtists()"
            matTooltip="Manually select your favourite artists from Spotify's library" matTooltipPosition="right">Manually select artists</button>
        </div>
        <div class="button-container">
            <button mat-flat-button class="button"
            (click)="addInstruments()"
            matTooltip="Add instruments that you can play" matTooltipPosition="right">Add instruments</button>
        </div>
        <div class="button-container">
            <button mat-flat-button class="button"
            (click)="uploadProfilePicture()"
            matTooltip="Change your profile picture" matTooltipPosition="right">Upload Profile Picture</button>
        </div>
    </div>
    <div class="components">
        <div *ngIf="userInfoSetup">
            <app-userinfo [username]="username" (deactivateUserSetup)="deactivateUserSetup()"></app-userinfo>
        </div>
        
        <div *ngIf="artistSelection">
            <app-artists [username]="username" (deactivateArtistSelection)="deactivateArtistSelection()"></app-artists>
        </div>
        
        <div *ngIf="instrumentSelection">
            <app-instruments [username]="username" (deactivateInstrumentSelection)="deactivateInstrumentAdd()"></app-instruments>
        </div>
        
        <div *ngIf="profilePictureUpload">
            <app-picture [username]="username" (deactivateImageUploader)="deactivatePictureUpload()"></app-picture>
        </div>

        <div *ngIf="manualArtistSelection">
            <app-artistmanual [username]="username" (deactivateManualArtistSelection)="deactivateManualArtistSelection()"></app-artistmanual>
        </div>
        
        <div *ngIf="allComponentsDeactivated">
            <p>Select a profile component to customise</p>
        </div>
    </div>
</div>




