<button (click)="loginToSpotify()">Setup spotify</button>
<button *ngIf="spotify_linked" (click)="getTopArtists()">Get top artists</button>
<button (click)="addInstruments()">Add instruments</button>
<button (click)="uploadProfilePicture()">Upload Profile Picture</button>

<form [formGroup]="profileForm">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" formControlName="firstName"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" formControlName="lastName"></td>
        </tr>
        <tr>
            <td>Bio</td>
            <td><input type="text" formControlName="bio"></td>
        </tr>
    </table>
    <button (click)="processForm()">Save</button>
</form>

<div *ngIf="artistSelection">
    <app-artists [username]="username" (deactivateArtistSelection)="deactivateArtistSelection()"></app-artists>
</div>

<div *ngIf="instrumentSelection">
    <app-instruments [username]="username" (deactivateInstrumentSelection)="deactivateInstrumentAdd()"></app-instruments>
</div>

<div *ngIf="profilePictureUpload">
    <app-picture [username]="username" (deactivateImageUploader)="deactivatePictureUpload()"></app-picture>
</div>

