<div class="container" >
    <form [formGroup]="creationForm">
        <table>
            <tbody>
                <tr>
                    <div class="cell">
                        <div class="text">
                            Username:
                        </div>
                        <div class="input">
                            <p *ngIf="usernameExists">Username already exists!</p> 
                            <p *ngIf="creationForm.controls['username'].hasError('minlength')">Username needs to be at least 3 characters long.</p>
                            <input type="text" formControlName="username">
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="cell">
                        <div class="text">
                            Password:
                        </div>
                        <div class="password">
                            <div>
                                <p *ngIf="creationForm.controls['password'].hasError('minlength')">Password needs to be at least 12 characters long.</p>
                                <input [type]="passwordHidden ? 'text' : 'password'" formControlName="password">    
                            </div>
                            <div>
                                <mat-icon (click)="togglePasswordVisibility()">
                                    {{ passwordHidden ? 'visibility' : 'visibility_off' }}
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </tr>

                <tr>
                    <div class="cell">
                        <div class="text">
                            Email:
                        </div>
                        <div class="input">
                            <p *ngIf="creationForm.controls['email'].hasError('email')">Use a valid email format.</p>
                            <input type="text" formControlName="email">
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="cell">
                        <div class="text">

                            First Name: 
                        </div>
                        <div class="input">
                            <p *ngIf="creationForm.controls['firstName'].hasError('required')">First name required.</p>
                            <input type="text" formControlName="firstName">
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="cell">
                        <div class="text">
                            Last Name:
                        </div>
                        <div class="input">
                            <p *ngIf="creationForm.controls['lastName'].hasError('required')">Last name required.</p>
                            <input type="text" formControlName="lastName">
                        </div>
                    </div>
                </tr>
            </tbody>

        </table>
    <button mat-flat-button 
    type="submit"  [disabled]="!creationForm.valid || pendingServer" type="submit" (click)="processForm()"
    class="button">
        <div *ngIf="!pendingServer">
            Register
        </div>
        <div *ngIf="pendingServer">
            Waiting...
        </div>
    </button>
    </form>

</div>

<!-- <p>{{creationForm.value['firstName'] | titlecase}}</p> -->
