<div *ngIf="post" class="container">
    <div class="post">
        <div class="profile-info">
            <div class="username">
                <a [routerLink]="['user',post.username]">
                    {{post.username}}
                </a>
                
            </div>
            <div>
                <img [src]="post.profile_picture" alt="" class="profile-pic">
            </div>
        </div>
        <div class="content">
            {{post.content}}
        </div>
        <div class="timestamp">
            {{post.timestamp | date:"dd MMM yyyy, HH:mm"}}
        </div>
    
        <div class="comments-container">
            <div class="number-of-comments">
                {{post.number_of_comments}} comments
            </div>
            <div *ngFor="let c of comments" class="comment">
                <div class="profile-info">
                    <div class="username">
                        <a [routerLink]="['user',c.username]">{{c.username}}</a>
                        
                    </div>
                    <div>
                        <img [src]="c.profile_picture" alt="" class="profile-pic">
                    </div>
                </div>
                <div class="comment-content">
                    {{c.content}}
                </div>
                <div class="comment-timestamp">
                    {{c.timestamp | date:"dd MMM yyyy, HH:mm"}}
                </div>
            </div>
            <div>
                <button mat-flat-button class="button" (click)="getComments()" [disabled]="comments.length == post.number_of_comments">
                    Load more comments
                </button>
            </div>
        </div>

        <div class="commentpost">
            <app-comment [post_id]="postId" [post_author]="post.username" (commentOutput)="addComment($event)"></app-comment>
        </div>
    </div>

</div>
