<div >
  <input type="file" (change)="onFileChange($event)" />
</div>
<div *ngIf="imgChangeEvt">
  <image-cropper 
    [imageChangedEvent]="imgChangeEvt" 
    [maintainAspectRatio]="true" 
    [aspectRatio]="4 / 4"
    [resizeToWidth]="256" 
    format="png" 
    (imageCropped)="cropImg($event)" 
    (imageLoaded)="imgLoad()"
    (cropperReady)="initCropper()" 
    (loadImageFailed)="imgFailed()">
  </image-cropper>
</div>
<div *ngIf="cropImgPreview">
  <h6>Image Preview</h6>
  <img [src]="cropImgPreview" style="border-radius: 125px;"/>
  <button mat-flat-button class="button" 
  (click)="uploadImage()" [disabled]="pendingServer">
    <div *ngIf="!pendingServer">
      Upload
  </div>
  <div *ngIf="pendingServer">
      Uploading..
  </div>
  </button>
</div>
