.result{
    background-color: #767C7F;
    display: flex;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    margin: auto;
    color:white;
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
    height:120px;
    border-radius: 0px 0px 10px 10px;

}

.result:hover{
    filter: brightness(115%);
}

.container{
    margin-left:25%;
    width:50%;
    
}

.username{
    width:100%;
    font-size:25px;
    font-weight: bold;
    margin-top:30px;
    margin-bottom:20px;


}
.name{
    width:100%;
    font-size:20px;
  
}
.picture-container{
    width:40%;
    margin-top:10px;
 
}
.picture{
    margin-left:30%;
    border-radius: 50px;
   
}
.name-container{
    width:50%;
    margin-left:10%;
}

h3{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color:white;
    text-shadow: 1px 1px black;
    font-size: 20px;
    letter-spacing: 1px;
}