<div class="container">
    <h4>Notifications</h4>

    <div *ngIf="notifications.length>0" style="width: 100%; "
        infiniteScroll
        [infiniteScrollDistance]="2"
        (scrolled)="onScroll()"
        >
        <table style="width:100%">
            <tr *ngFor="let n of notifications" style="width: 100%; ">
                
                    <div (click)="readNotification(n)" [ngClass]="n.read ? 'read' : 'unread'" class="notification">
                        <div class="text">
                            {{n.text}}
                        </div>
                        <div class="timestamp">
                            {{n.timestamp | date:"dd MMM yyyy, HH:mm"}}
                        </div>
                    </div>
            
            </tr>
        </table>
    </div>
</div>


