<div class="container">
    <form [formGroup]="form">
        <p>
            Search for musicians by instrument:
        </p>
        <input type="text" formControlName="instrument">
        <button mat-flat-button class="button" (click)="processForm()">Search</button>
    </form>
    <div class="result-container">
        <div *ngIf="users.length>0 else noresults">
            <p>Musicians who play {{searchTerm}}</p>
            <div *ngFor="let u of users">
                <div>
                    <a [routerLink]="['/user',u.username]">
                        <div class="result">
                            <div class="name-container">
                                <div class="username">
                                    {{u.username}}
                                </div>
                                <div class="name">
                                    {{u.firstName | titlecase}} {{u.lastName | titlecase}}
                                </div>
                            </div>
                            <div class="picture-container">
                                <img class="picture" [src]="u.image" alt="" height="100" width="100">
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
        </div>
    
        <ng-template #noresults>
            <div *ngIf="searchFinished">
                <p>There are no results.</p>
            </div>
        </ng-template>
    </div>

</div>



