<div class=container>
    <form [formGroup]="commentForm">
        <div class="form-container">
            <div class="textarea-container">
                <mat-form-field class="textarea">
                    <mat-label>Add a comment</mat-label>
                    <textarea matInput col="50" rows="5" formControlName="content"
                   style="resize: none;" class="custom-textarea"></textarea>
                </mat-form-field>
            </div>
            <div>
                <button  mat-flat-button class="button" (click)="processForm()" [disabled]="commentForm.invalid || pendingServer">
                    <div *ngIf="!pendingServer">
                        Comment
                    </div>
                    <div *ngIf="pendingServer">
                        Posting...
                    </div>
                </button>
            </div>
        </div>

       
    </form>
    
</div>
