
<div class="container">
    <div *ngIf="chats.length>0 else nochats" class="chats"
        infiniteScroll
        (scrolled)="getChats()">
        <div *ngFor="let c of chats, index as i" (click)="goToChat(c.id, i)" class="chat-container"
        [ngClass]="c.read ? 'read' : 'unread'">
            
            <div class="profile-info">
                <div>
                    <img [src]="c.image" alt="" class="profile-pic">
                </div>
                <div class="username">
                    {{c.username_display}}
                </div>
            </div>
            <div class="timestamp">
                Last Message: {{c.last_updated | date:"dd MMM yyyy, HH:mm"}}
            </div>
        </div>
    </div>
    <div *ngIf="chatId" class="message-container">
        <app-messaging [chatId]="chatId"  class="messages" (chatIdSubject)="updateChatList($event)"></app-messaging>
    </div>
    <app-chatwebsocket [username]="username" (chatIdSubject)="updateChatList($event)"></app-chatwebsocket>
    <ng-template #nochats>
        <div class="nochats">
            <p>You have no chats. Go to your friends' profiles to start a new chat!</p>
        </div>
    </ng-template>
</div>

