.profile-pic{
    width:40px;
    height:40px;
    border-radius: 20px;
}

.profile-info{
    display: flex;
    padding-top:10px;
    padding-left:10px;
}

.username{
    padding-top:10px;
    padding-left:10px;
}

.container{
    display: flex;
}

.messages{
    vertical-align: bottom;
}

.chat-container{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size:15px;
    margin: auto;
    color:white;
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
    height:100px;
    border-radius: 10px 10px 10px 10px;

}

.read{
    background-color: #767C7F;
}

.unread{
    background-color: #f0d078;
}

.timestamp{
    font-style: italic;
    font-size:12px;
    padding-top:5px;
    padding-left:5px;
}

.chat-container:hover{
    cursor: pointer;
}

.chats{
    width:20%;
    padding-right:30px;
}

.message-container{
    width:50%;
}