
<div class="container">
    <div *ngIf="chats.length>0" class="chats">
        <div *ngFor="let c of chats" (click)="goToChat(c.id)" class="chat-container">
            
            <div class="profile-info">
                <div>
                    <img [src]="c.image" alt="" class="profile-pic">
                </div>
                <div class="username">
                    {{c.username_display}}
                </div>
            </div>
            <div class="timestamp">
                Last Message: {{c.last_updated | date:"dd MMM yyyy, HH:mm"}}
            </div>
        </div>
    </div>
    <div *ngIf="chatId" class="message-container">
        <app-messaging [chatId]="chatId"  class="messages"></app-messaging>
    </div>
    
</div>

