.container{
    background-color: #767C7F;
    width: 350px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 15px;
    text-shadow: 1px 1px black;
    color: white;
}

.default{
    height:140px; 
}

.cell{
    margin-top:10px;
    margin-left:10px;
    display:flex;
}

.text{
    width:35%;
}

.input{
    width:65%;
}

.password{
    display: flex;
    width:65%;
}

.incorrect{
    height: 200px;

}

.button{
    background-color:#8FEAA1;
    color:white;
}
