<div class="container">
    <h3>Friend Requests</h3>
    <div *ngIf="users.length>0 else nofriends" class="request-container">
        <table>
            <tr *ngFor="let u of users, index as i">
                <div >
                    <div *ngIf="!u.accepted && !u.rejected" class="request">
                        <div class="username-container">
                            <a [routerLink]="['/user',u.username]">{{u.username}}</a>
                        </div>
                        <div class="name">
                            {{u.firstName}} {{u.lastName}}
                        </div>
                        <div class="image-container">
                            <img [src]="u.image" alt="" class="image">
                        </div>
                        <div class="button-container">
                            <div class="button">
                                <button mat-flat-button style=" background-color: #8FEAA1; color: white;" 
                        (click)="acceptRequest(i)">
                                <div *ngIf="!pendingServer">
                                    Accept
                                </div>
                                <div *ngIf="pendingServer">
                                    Accepting...
                                </div>
                            </button>
                            </div>
                            <div class="button">
                                <button mat-flat-button style=" background-color: #8FEAA1; color: white;" 
                        (click)="deleteRequest(i)">
                        <div *ngIf="!pendingServer">
                            Reject
                        </div>
                        <div *ngIf="pendingServer">
                            Rejecting...
                        </div>
                    </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="u.accepted">
                        <p>You have accepted the request from {{u.username}}.</p>
                    </div>
                    <div *ngIf="u.rejected">
                        <p>You have rejected the request.</p>
                    </div>
                </div>


            </tr>
        </table>
    </div>

    <ng-template #nofriends>
        <p>Nobody wants to be your friend :(</p>
    </ng-template>

</div>
