.navbar{
    position:fixed;
}

.container{
    display:flex;
    height:100px;
}

.container-child{
    flex:1;
}

.profilepic{
    border-radius: 25px;
}

.searchbar mat-form-field{
    width:30px;
}

.searchbar{
    margin-top:20px;
    height:60%;
    width:50%;
    /* border-style: dashed; */
}

.notif{
    width:4%;
    margin-top:18px;
    /* border-style: dashed; */
}

.profile{
    width:20%;
    /* border-style: dashed; */
    margin-top:22px;
    
}
.logout{
    width:5%;
    /* border-style: dashed; */
    margin-top:30px;
    margin-left:40px;
}

.icon{
    border-radius: 40px;
    margin-left:5px;
    margin-top:5px;

}

.home{
    margin-left:20px;
    width:12.5%;
    margin-top:5px;
}

.name{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;
    margin-top:18%;
    margin-left:5px;
    height:60%;
    color:white;
    text-shadow: 2px 2px black;
    font-size: 25px;
}

.username{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color:white;
    text-shadow: 2px 2px black;
    margin-top:6%;
    margin-left:10px;
}

.loginbutton{
    margin-top:30px;
    margin-left:15px;
}

.searchicon{
    width:40px;
    height:40px;
    margin-top:4px;
    margin-left:4px;
}

.icon-background{
    height:52px;
    width:52px;
    background-color: #8FEAA1;
    border-radius: 26px;
}

.musician-search-container{
    margin-top:22px;
    margin-left:10px;
    margin-right:20px;
    width:60px;
    height:60px;
    
}

